In [9]:
import numpy as np
import pandas as pd

In [15]:
restt = pd.read_csv('german_restaurants_2024.csv')

In [43]:
# All restaurants analysis

In [17]:
restt

,title,totalScore,reviewsCount,price,street,city,categoryName,rank,popularTimesLiveText
0,EAT HAPPY,NaN,0,NaN,Plieninger Str. 63D,Filderstadt,Sushi takeaway,165,NaN
1,Restaurant Aspendos,4.6,718,€20–30,Neckarstraße 98,Stuttgart,Turkish restaurant,163,NaN
2,Restaurant Zeus · Paulaner Biergarten,4.2,566,€20–30,Römerstraße 37,Esslingen,Greek restaurant,162,NaN
3,Landhausstuben,3.3,4,NaN,Siemensstraße 33,Stuttgart,Restaurant,176,NaN
4,Eiscafé Venedig Kö66/1,4.4,979,€1–10,Königstraße 66,Stuttgart,Ice cream shop,177,NaN
...,...,...,...,...,...,...,...,...,...
2008,Restaurant Attilios Mare Monti,4.5,1169,€20–30,Dornheimer Weg 72,Darmstadt,Italian restaurant,124,Not too busy
2009,Gaststätte Sirtaki,4.4,111,€20–30,Bartningstraße 19,Darmstadt,Greek restaurant,123,NaN
2010,Restaurant Poseidon,4.4,772,€20–30,Darmstädter Str. 39,Groß-Gerau,Greek restaurant,122,NaN
2011,"Am Sportpark ""Restaurant La Famiglia""",4.2,190,€20–30,Wilhelm-Weingärtner-Straße 4,Pfungstadt,Italian restaurant,120,NaN
2012,Restaurant Bocca D’oro by Leo,4.3,476,€20–30,Wilhelm-Leuschner-Straße 160A,Griesheim,Italian restaurant,119,NaN

In [147]:
restt.shape

(2013, 9)

In [149]:
restt.axes

[RangeIndex(start=0, stop=2013, step=1),
 Index(['title', 'totalScore', 'reviewsCount', 'price', 'street', 'city',
        'categoryName', 'rank', 'popularTimesLiveText'],
       dtype='object')]

In [155]:
restt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2013 entries, 0 to 2012
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 2013 non-null   object
 1   totalScore            1974 non-null   float64
 2   reviewsCount          2013 non-null   int64
 3   price                 1688 non-null   object
 4   street                1998 non-null   object
 5   city                  2013 non-null   object
 6   categoryName          2013 non-null   object
 7   rank                  2013 non-null   int64
 8   popularTimesLiveText  534 non-null    object
dtypes: float64(1), int64(2), object(6)
memory usage: 141.7+ KB

In [199]:
restt["categoryName"].value_counts().head(21)

categoryName
Restaurant                652
German restaurant         134
Italian restaurant        134
Greek restaurant           98
Hotel                      96
Pizza restaurant           63
Turkish restaurant         54
Snack bar                  52
Asian restaurant           45
Fast food restaurant       41
Indian restaurant          40
Chinese restaurant         32
Cafe                       29
Vietnamese restaurant      24
Bavarian restaurant        24
Hamburger restaurant       22
Kebab shop                 21
Pizza delivery             19
Doner kebab restaurant     19
Sushi restaurant           18
Gastropub                  18
Name: count, dtype: int64

In [207]:
restt["city"].value_counts().head(20)

city
Stuttgart               115
Ingolstadt              103
Sankt Peter-Ording       64
Heide                    60
Albstadt                 49
Balingen                 45
Regensburg               42
Nordhausen               39
Friedrichshafen          33
Auerbach                 30
Kirchheim unter Teck     30
Worms                    30
Güstrow                  29
Schmalkalden             26
Vaterstetten             24
Darmstadt                24
Sinsheim                 23
Friedrichroda            22
Metzingen                21
Nürtingen                21
Name: count, dtype: int64

In [389]:
restt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2013 entries, 0 to 2012
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 2013 non-null   object
 1   totalScore            1974 non-null   float64
 2   reviewsCount          2013 non-null   int64
 3   price                 1688 non-null   object
 4   street                1998 non-null   object
 5   city                  2013 non-null   object
 6   categoryName          2013 non-null   object
 7   rank                  2013 non-null   int64
 8   popularTimesLiveText  534 non-null    object
dtypes: float64(1), int64(2), object(6)
memory usage: 141.7+ KB

In [387]:
restt["totalScore"].value_counts()

totalScore
4.6    309
4.5    302
4.4    264
4.7    213
4.3    178
4.2    129
4.8    120
4.1     96
4.0     65
4.9     49
3.9     41
5.0     41
3.8     32
3.7     28
3.4     18
3.3     16
3.6     14
3.5     11
3.0     11
2.9      6
3.2      5
2.7      4
3.1      4
2.5      3
2.8      3
1.0      2
2.4      2
2.6      2
2.3      2
2.2      1
2.1      1
1.6      1
2.0      1
Name: count, dtype: int64

In [395]:
restt["totalScore"].mean(skipna=True)

4.378419452887538

In [399]:
restt[restt["totalScore"].isna()]

,title,totalScore,reviewsCount,price,street,city,categoryName,rank,popularTimesLiveText
0,EAT HAPPY,NaN,0,NaN,Plieninger Str. 63D,Filderstadt,Sushi takeaway,165,NaN
27,EAT HAPPY,NaN,0,NaN,Berliner Str. 1,Esslingen,Sushi takeaway,169,NaN
56,Stefania & Matthias Fröhlich GbR,NaN,0,NaN,Friedrichstraße 28,Heide,Restaurant,100,NaN
71,Alter Bahnhof - Delve,NaN,0,NaN,Schulstraße 2,Delve,Restaurant,88,Now: Usually not too busy
83,WOODY's Restaurant,NaN,0,NaN,Guts-Muths-Weg 10,Stuttgart,Turkish restaurant,133,NaN
221,Struve's Gasthof,NaN,0,NaN,Mittelstraße 2,Delve,Family restaurant,17,NaN
299,Wattwurm,NaN,0,NaN,Im Bad 38,Sankt Peter-Ording,Restaurant,85,NaN
330,EAT HAPPY,NaN,0,NaN,Dreilanden 7b,Sankt Peter-Ording,Sushi takeaway,72,NaN
339,Nordsinn GmbH,NaN,0,NaN,Dorfstraße 12,Sankt Peter-Ording,Restaurant,70,NaN
372,Bistro Indoorspielscheune Café,NaN,0,NaN,NaN,Tating,Restaurant,50,NaN
488,EAT HAPPY,NaN,0,NaN,Lange Str. 37,Balingen,Sushi takeaway,146,NaN
545,Ebinger Pizza Service,NaN,0,NaN,Sonnenstraße 89,Albstadt,German restaurant,88,NaN
600,Gaststätte S. Öres,NaN,0,NaN,Schulstraße 1,Krautheim,Restaurant,95,NaN
777,Restaurant Waldhorn,NaN,0,NaN,Dornierstraße 2,Friedrichshafen,Restaurant,117,NaN
783,Forum Restaurant,NaN,0,NaN,Werastraße 22,Friedrichshafen,Restaurant,109,NaN
924,Restaurant MaxWell,NaN,0,NaN,Ingolstädter Str. 121,Ingolstadt,Restaurant,152,NaN
935,Restaurant Da Gino,NaN,0,NaN,Neuburger Str. 19,Ingolstadt,Italian restaurant,146,NaN
1093,BRAUNER HIRSCH,NaN,0,NaN,NaN,Klötze,Restaurant,50,NaN
1107,"Abacco ""Event Atelier""",NaN,0,NaN,Röwitzer Str. 11,Oebisfelde,Dance restaurant,20,NaN
1123,Rescue Grill GmbH,NaN,0,NaN,Am Kälberanger 4,Parsau,Takeaway,4,NaN
1136,DITO Ehrliche philippinische Küche,NaN,0,NaN,Göltzschtalstraße 36,Auerbach,Filipino restaurant,139,NaN
1149,"Restaurant ""Zum Flötenoger""",NaN,0,NaN,Breitensamer Weg,Neuensalz,Hamburger restaurant,126,NaN
1159,Grill-Imbiss-Jakubec,NaN,0,NaN,Alte Auerbacher Str. 7,Schönheide,Grill,121,NaN
1184,Wirtshaus Kottengrün,NaN,0,NaN,Hauptstraße 39,Werda,Western restaurant,101,NaN
1186,Esskultur,NaN,0,NaN,Neuensalzer Str. 7,Theuma,Restaurant,88,NaN
1220,Grummts Diner,NaN,0,NaN,Lengenfelder Str. 29A,Rodewisch,Restaurant,62,NaN
1259,Schlemmer Oase,NaN,0,NaN,Darrweg 39,Nordhausen,Snack bar,112,NaN
1270,Sushi Circle,NaN,0,$$,Darrweg 67,Nordhausen,Sushi takeaway,108,NaN
1276,Bergmannsklause Gaststätte und Pension Redeman...,NaN,0,NaN,Bischofferöder Str. 38,Holungen,Restaurant,95,NaN
1384,Restaurant Germania,NaN,0,NaN,Hindelanger Str. 2,Sonthofen,Restaurant,149,NaN
1393,Putins Geheimbunker Eiscreme,NaN,0,NaN,L11 49,Bützow,Sundae restaurant,100,NaN
1415,Bürgermeister,NaN,0,NaN,Markt 1,Güstrow,Restaurant,83,NaN
1493,Greenfields Restaurant,NaN,0,NaN,Otto-Lilienthal-Ring 32,Feldkirchen,Restaurant,144,NaN
1671,Tank & Rast Gastronomie,NaN,0,NaN,Schwarzwaldstraße 5 BAB6,Sinsheim,Restaurant,107,NaN
1826,Restaurant Rübholz,NaN,0,NaN,NaN,Kirchheim unter Teck,Restaurant,93,NaN
1853,Restaurant Pavillon,NaN,0,NaN,Michael-Hörauf-Weg 2,Boll,Restaurant,65,NaN
1883,Restaurant Ambiente,NaN,0,NaN,Michael-Hörauf-Weg 2,Boll,Restaurant,53,NaN
1944,Restaurant daylis,NaN,0,NaN,Hilpertstraße 27,Darmstadt,Buffet restaurant,160,NaN
1965,Anastassios Kostopulos Restaurant,NaN,0,NaN,Dieburger Str. 72,Darmstadt,Snack bar,150,NaN

In [ ]:
# Without knowing the restaurant category, it would not be correct to change the null values ​​in the "totalScore" column with mean or mode.
# Null values ​​in this column includes many rows with the category as a "Restaurant". Also, there were only 39 null values, which is only 2% of the total
# data. Therefore, null values in "totalScore" are removed.

In [81]:
cts= restt.dropna(subset=["totalScore"], inplace=True)

In [93]:
restt.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1974 entries, 1 to 2012
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 1974 non-null   object
 1   totalScore            1974 non-null   float64
 2   reviewsCount          1974 non-null   int64
 3   price                 1687 non-null   object
 4   street                1962 non-null   object
 5   city                  1974 non-null   object
 6   categoryName          1974 non-null   object
 7   rank                  1974 non-null   int64
 8   popularTimesLiveText  533 non-null    object
dtypes: float64(1), int64(2), object(6)
memory usage: 154.2+ KB

In [426]:
restt["price"].value_counts()

price
€10–20    579
€20–30    547
€1–10     245
$$         42
€30–40     28
         ...
$121        1
$110        1
$179        1
$72         1
$140        1
Name: count, Length: 104, dtype: int64

In [428]:
restt[restt["price"].isna()]

,title,totalScore,reviewsCount,price,street,city,categoryName,rank,popularTimesLiveText
3,Landhausstuben,3.3,4,NaN,Siemensstraße 33,Stuttgart,Restaurant,176,NaN
10,Santy Mobile 1,4.3,6,NaN,Königstraße,Stuttgart,Ice cream shop,168,NaN
16,Imbiss im Freibad Hennstedt,4.2,5,NaN,Kummerfeld 5,Hennstedt,Snack bar,120,NaN
26,Seaside anne Eider,4.3,4,NaN,Am Hafen,Tönning,Snack bar,117,NaN
32,KFT Krabben & Fisch Tönning OHG Inh. Gebr. Not...,4.7,1395,NaN,Am Eiderdeich 12,Tönning,Fishmonger,111,Less busy than usual
...,...,...,...,...,...,...,...,...,...
1983,Alter Vater Rhein,2.9,11,NaN,Große Fischergasse 4,Nierstein,Hotel,139,NaN
1986,Restaurant Kavaliersbau im Jagdschloss Kranich...,3.7,64,NaN,Kranichsteiner Str. 261,Darmstadt,Restaurant,136,NaN
1987,Ariana Restaurant Worms,4.2,9,NaN,Siegfriedstraße 44,Worms,Restaurant,50,NaN
1989,Restaurant Am Stadtgraben,3.8,4,NaN,Gräffstraße 8,Heppenheim,Restaurant,48,NaN
2004,Restaurant Landgraf,4.6,10,NaN,Rheinstraße 105,Darmstadt,Restaurant,128,NaN

In [95]:
restt["categoryName"].value_counts()

categoryName
Restaurant                     632
German restaurant              133
Italian restaurant             133
Greek restaurant                98
Hotel                           96
                              ...
Fried chicken takeaway           1
Northern Italian restaurant      1
Beer hall                        1
Golf course                      1
Family restaurant                1
Name: count, Length: 145, dtype: int64

In [ ]:
# Since we want to analyse restaurant datas according to category, "Restaurant" values in "categoryName" column does not provide us enough information. 
# None of the column(the "price" column contains too much missing or invalid values, and to fix this column, "categoryName" column would need 
# to be complete) helps us determine the restaurant category. So, the best option is removing "Restaurant" values.

In [97]:
indexes_to_drop = restt[restt["categoryName"] == "Restaurant"].index
restaurant_excluded = restt.drop(indexes_to_drop)

In [99]:
restaurant_excluded

,title,totalScore,reviewsCount,price,street,city,categoryName,rank,popularTimesLiveText
1,Restaurant Aspendos,4.6,718,€20–30,Neckarstraße 98,Stuttgart,Turkish restaurant,163,NaN
2,Restaurant Zeus · Paulaner Biergarten,4.2,566,€20–30,Römerstraße 37,Esslingen,Greek restaurant,162,NaN
4,Eiscafé Venedig Kö66/1,4.4,979,€1–10,Königstraße 66,Stuttgart,Ice cream shop,177,NaN
6,Isabella Glutenfreie Pâtisserie,4.5,1145,€10–20,Calwer Str. 48,Stuttgart,Patisserie,174,Not too busy
7,McDonald's,3.3,747,€1–10,Wolfgang-Brumme-Allee 27,Böblingen,Fast food restaurant,164,NaN
...,...,...,...,...,...,...,...,...,...
2008,Restaurant Attilios Mare Monti,4.5,1169,€20–30,Dornheimer Weg 72,Darmstadt,Italian restaurant,124,Not too busy
2009,Gaststätte Sirtaki,4.4,111,€20–30,Bartningstraße 19,Darmstadt,Greek restaurant,123,NaN
2010,Restaurant Poseidon,4.4,772,€20–30,Darmstädter Str. 39,Groß-Gerau,Greek restaurant,122,NaN
2011,"Am Sportpark ""Restaurant La Famiglia""",4.2,190,€20–30,Wilhelm-Weingärtner-Straße 4,Pfungstadt,Italian restaurant,120,NaN
2012,Restaurant Bocca D’oro by Leo,4.3,476,€20–30,Wilhelm-Leuschner-Straße 160A,Griesheim,Italian restaurant,119,NaN

In [105]:
restaurant_excluded.to_csv('restaurant_excluded.csv', index=False)

In [107]:
restaurant_excluded.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1342 entries, 1 to 2012
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 1342 non-null   object
 1   totalScore            1342 non-null   float64
 2   reviewsCount          1342 non-null   int64
 3   price                 1168 non-null   object
 4   street                1335 non-null   object
 5   city                  1342 non-null   object
 6   categoryName          1342 non-null   object
 7   rank                  1342 non-null   int64
 8   popularTimesLiveText  389 non-null    object
dtypes: float64(1), int64(2), object(6)
memory usage: 104.8+ KB

In [ ]:
# German resturants analysis

In [19]:
German_r= restt["categoryName"]== "German restaurant"

In [295]:
restt[German_r]

,title,totalScore,reviewsCount,price,street,city,categoryName,rank,popularTimesLiveText
14,Restaurant im Mercure Hotel,3.9,38,€10–20,Schwertstraße 65,Sindelfingen,German restaurant,100,NaN
50,Restaurant Rösch,4.5,207,€20–30,Scheffelstraße 23,Stuttgart,German restaurant,145,NaN
60,Restaurant Brunnenstuben,4.7,277,£££,Quellenstraße 14,Waiblingen,German restaurant,141,NaN
76,Restaurant Fellbacher Tröpfle,4.4,708,€20–30,Kleinfeldstraße 29,Fellbach,German restaurant,140,NaN
79,Gasthof Lamm Restaurant Wintergarten Partyservice,4.4,273,€20–30,Hauptstraße 44,Kernen,German restaurant,137,Now: Usually not busy
...,...,...,...,...,...,...,...,...,...
1938,Gasthaus Pfählhof,4.5,101,€20–30,Pfählhof 2,Bad Urach,German restaurant,13,NaN
1943,Almresi Metzingen,4.3,1080,€20–30,Hugo-Boss-Platz 3,Metzingen,German restaurant,9,NaN
1967,Restaurant Gaststätte Neuroth,4.6,109,€20–30,Gernsheimer Str. 68,Pfungstadt,German restaurant,145,NaN
1975,TuS Weinsheim Restaurant,4.8,48,€10–20,Heuweg 20,Worms,German restaurant,57,NaN
1985,Restaurant Zum Pfrimmpark,4.6,386,€20–30,Wehrgasse 25,Worms,German restaurant,49,NaN

In [289]:
clean= restt[German_r].dropna(subset=["price"])

In [291]:
clean

,title,totalScore,reviewsCount,price,street,city,categoryName,rank,popularTimesLiveText
14,Restaurant im Mercure Hotel,3.9,38,€10–20,Schwertstraße 65,Sindelfingen,German restaurant,100,NaN
50,Restaurant Rösch,4.5,207,€20–30,Scheffelstraße 23,Stuttgart,German restaurant,145,NaN
60,Restaurant Brunnenstuben,4.7,277,£££,Quellenstraße 14,Waiblingen,German restaurant,141,NaN
76,Restaurant Fellbacher Tröpfle,4.4,708,€20–30,Kleinfeldstraße 29,Fellbach,German restaurant,140,NaN
79,Gasthof Lamm Restaurant Wintergarten Partyservice,4.4,273,€20–30,Hauptstraße 44,Kernen,German restaurant,137,Now: Usually not busy
...,...,...,...,...,...,...,...,...,...
1938,Gasthaus Pfählhof,4.5,101,€20–30,Pfählhof 2,Bad Urach,German restaurant,13,NaN
1943,Almresi Metzingen,4.3,1080,€20–30,Hugo-Boss-Platz 3,Metzingen,German restaurant,9,NaN
1967,Restaurant Gaststätte Neuroth,4.6,109,€20–30,Gernsheimer Str. 68,Pfungstadt,German restaurant,145,NaN
1975,TuS Weinsheim Restaurant,4.8,48,€10–20,Heuweg 20,Worms,German restaurant,57,NaN
1985,Restaurant Zum Pfrimmpark,4.6,386,€20–30,Wehrgasse 25,Worms,German restaurant,49,NaN

In [ ]:
grc= restt[German_r]

In [ ]:
# grc = german restaurants cleaned

In [23]:
grc

,title,totalScore,reviewsCount,price,street,city,categoryName,rank,popularTimesLiveText
14,Restaurant im Mercure Hotel,3.9,38,€10–20,Schwertstraße 65,Sindelfingen,German restaurant,100,NaN
50,Restaurant Rösch,4.5,207,€20–30,Scheffelstraße 23,Stuttgart,German restaurant,145,NaN
60,Restaurant Brunnenstuben,4.7,277,£££,Quellenstraße 14,Waiblingen,German restaurant,141,NaN
76,Restaurant Fellbacher Tröpfle,4.4,708,€20–30,Kleinfeldstraße 29,Fellbach,German restaurant,140,NaN
79,Gasthof Lamm Restaurant Wintergarten Partyservice,4.4,273,€20–30,Hauptstraße 44,Kernen,German restaurant,137,Now: Usually not busy
...,...,...,...,...,...,...,...,...,...
1938,Gasthaus Pfählhof,4.5,101,€20–30,Pfählhof 2,Bad Urach,German restaurant,13,NaN
1943,Almresi Metzingen,4.3,1080,€20–30,Hugo-Boss-Platz 3,Metzingen,German restaurant,9,NaN
1967,Restaurant Gaststätte Neuroth,4.6,109,€20–30,Gernsheimer Str. 68,Pfungstadt,German restaurant,145,NaN
1975,TuS Weinsheim Restaurant,4.8,48,€10–20,Heuweg 20,Worms,German restaurant,57,NaN
1985,Restaurant Zum Pfrimmpark,4.6,386,€20–30,Wehrgasse 25,Worms,German restaurant,49,NaN

In [109]:
grc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 134 entries, 14 to 1985
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 134 non-null    object
 1   totalScore            133 non-null    float64
 2   reviewsCount          134 non-null    int64
 3   price                 115 non-null    object
 4   street                134 non-null    object
 5   city                  134 non-null    object
 6   categoryName          134 non-null    object
 7   rank                  134 non-null    int64
 8   popularTimesLiveText  24 non-null     object
dtypes: float64(1), int64(2), object(6)
memory usage: 10.5+ KB

In [351]:
grc["price"].value_counts()

price
€20–30    59
€10–20    32
£££        3
$          3
$$$        2
€30–40     2
$$         2
€10–30     2
$51        1
£88        1
£82        1
$98        1
$93        1
£          1
€20–40     1
££         1
€100+      1
€40–50     1
Name: count, dtype: int64

In [ ]:
# Since mode of the price category in German restaurants is "€20–30", we can fill missing values with the mode of the price category.

In [363]:
x = "€20–30"
grc["price"].fillna(x)

14      €10–20
50      €20–30
60         £££
76      €20–30
79      €20–30
         ...
1938    €20–30
1943    €20–30
1967    €20–30
1975    €10–20
1985    €20–30
Name: price, Length: 134, dtype: object

In [365]:
grc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 134 entries, 14 to 1985
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 134 non-null    object
 1   totalScore            133 non-null    float64
 2   reviewsCount          134 non-null    int64
 3   price                 134 non-null    object
 4   street                134 non-null    object
 5   city                  134 non-null    object
 6   categoryName          134 non-null    object
 7   rank                  134 non-null    int64
 8   popularTimesLiveText  24 non-null     object
dtypes: float64(1), int64(2), object(6)
memory usage: 10.5+ KB

In [367]:
grc["price"].value_counts()

price
€20–30    78
€10–20    32
£££        3
$          3
$$$        2
€30–40     2
$$         2
€10–30     2
$51        1
£88        1
£82        1
$98        1
$93        1
£          1
€20–40     1
££         1
€100+      1
€40–50     1
Name: count, dtype: int64

In [ ]:
# In addition to missing values, there are also incorrect values such as "$93" or "$$". We can assume that dollar sign or euro sign data
# represent price range. We have some specific price ranges such as €10–20 or €20–30. In our data, "€10–20" is "€" or "$", "€20–30" is "€€" or "$$" etc.
# Also, we can include price values ​​that are not in range($93). If we limit our range to "€50+", values ​​over 50€ will be included in "€50+".

In [ ]:
grc_backup = grc.copy()

In [371]:
grc_backup

,title,totalScore,reviewsCount,price,street,city,categoryName,rank,popularTimesLiveText
14,Restaurant im Mercure Hotel,3.9,38,€10–20,Schwertstraße 65,Sindelfingen,German restaurant,100,NaN
50,Restaurant Rösch,4.5,207,€20–30,Scheffelstraße 23,Stuttgart,German restaurant,145,NaN
60,Restaurant Brunnenstuben,4.7,277,£££,Quellenstraße 14,Waiblingen,German restaurant,141,NaN
76,Restaurant Fellbacher Tröpfle,4.4,708,€20–30,Kleinfeldstraße 29,Fellbach,German restaurant,140,NaN
79,Gasthof Lamm Restaurant Wintergarten Partyservice,4.4,273,€20–30,Hauptstraße 44,Kernen,German restaurant,137,Now: Usually not busy
...,...,...,...,...,...,...,...,...,...
1938,Gasthaus Pfählhof,4.5,101,€20–30,Pfählhof 2,Bad Urach,German restaurant,13,NaN
1943,Almresi Metzingen,4.3,1080,€20–30,Hugo-Boss-Platz 3,Metzingen,German restaurant,9,NaN
1967,Restaurant Gaststätte Neuroth,4.6,109,€20–30,Gernsheimer Str. 68,Pfungstadt,German restaurant,145,NaN
1975,TuS Weinsheim Restaurant,4.8,48,€10–20,Heuweg 20,Worms,German restaurant,57,NaN
1985,Restaurant Zum Pfrimmpark,4.6,386,€20–30,Wehrgasse 25,Worms,German restaurant,49,NaN

In [446]:
for x in grc.index:
    if grc.loc[x, "price"] in ["$", "£"]:
        grc.loc[x, "price"] = "€10–20"
    elif grc.loc[x, "price"] in ["$$", "££"]:
        grc.loc[x, "price"] = "€20–30"
    elif grc.loc[x, "price"] in ["$$$", "£££"]:
        grc.loc[x, "price"] = "€30–40"
    elif grc.loc[x, "price"] in ["€100+", "$93", "$98", "£82", "£88", "$51"]:
        grc.loc[x, "price"] = "€50+"
    elif grc.loc[x, "price"] == "€10–30":
        grc.loc[x, "price"] = "€20–30"
    elif grc.loc[x, "price"] == "€20–40":
        grc.loc[x, "price"] = "€20–30"

In [448]:
grc["price"].value_counts()

price
€20–30    84
€10–20    36
€30–40     7
€50+       6
€40–50     1
Name: count, dtype: int64

In [454]:
grc.to_csv("german_restaurants_cleaned.csv", index=False)